@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&family=Pacifico&family=Poppins:ital@1&family=Source+Sans+Pro&display=swap");

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn1-color {
     // color: black;
     color: rgb(255, 255, 255);

     background: #2E2D88;
     // background: hsla(217, 100%, 50%, 1);
     
     transition: all 0.8s all ease-in;

     &:hover {
          background: linear-gradient(110deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

          background: -moz-linear-gradient(110deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

          background: -webkit-linear-gradient(110deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
     }
}

.btn2-color {
     color: rgb(255, 255, 255);
     transition: all 0.8s all ease-in;

     background: rgba(0, 0, 0, 0);
     transition: all 3s all ease-in;
     // border-bottom:1px solid 
     // border-radius: 8px;

     &:hover {
     background: rgba(238, 238, 238, 0.281);
      
     }
}

.primary {
     color: #0062fff5;
}

.primary-bg {
     background: rgba(0, 98, 255, 0.911);
}

.you {
     color: #0000002f;
}

.footer-bg {
     background: #f5f9fb;
}
